<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A brief description of your page">
    <meta name="author" content="Your Name">
    <title>Document Title</title>
    <!-- Link to external CSS files -->
    <link rel="stylesheet" href="styles.css">
    <!-- Link to favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <h1>Welcome to My Tours Agency</h1>
        <nav>
            <ul>
               {% for tour in tours %}
               <li>{{tour}}</li>
               {% endfor %}
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Section Title</h2>
            <p>This is a paragraph of text within a section.</p>
        </section>

        <section>
            <h2>Another Section</h2>
            <p>This is another paragraph of text within a different section.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Your Name. All rights reserved.</p>
    </footer>

    <!-- Link to external JavaScript files -->
    <script src="scripts.js"></script>
</body>

</html>
